<div id="botinterDiv" class="botintercl">

  <!-- <textarea id="botInter" *ngFor="let _AIInter of AIInterRef.on('changes') | async" name="AIText" [(ngModel)]=AIInter.text readonly="readonly">HI THERE</textarea> -->

<ul *ngIf="AIInterRef">
  <li *ngFor="let _AIInter of AIInterRef.on('change') | async">
    <textarea id="botInter" *ngFor="let _AIInter of AIInterRef.on('changes') | async" name="AIText" [(ngModel)]=AIInter.text readonly="readonly">HI THERE</textarea>
  </li>
  </ul>

  <textarea id="AIInterMock" (keyup.enter)="createAI();" [(ngModel)]="AIInter.text" name="text"></textarea>

</div>



<!--
<div id="AIOuterDiv" class="Inter AI Outer">

  <div id="AIInnerDiv" class="Inter AI Inner">


    <textarea id="#AIInter" *ngFor="let _AIInter of AIInterRef.on('change') | async" name="AIText" [(ngModel)]=AIInter.text readonly="readonly"></textarea>

  </div>

  style="color:black; background-color: transparent;"

</div>
-->
